<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 

<!--
<connectionStrings>
    <add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=webapicatafexdbserver.database.windows.net;Initial Catalog=WebApiCatafex_db;User ID=Engineer;Password=@Almost54321;Trusted_Connection=False;Encrypt=True;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->
  
<connectionStrings><add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-85K2IKP\SQLEXPRESS;initial catalog=CATAFEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>


