<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Cada uno Modifique y configure su conexion, al momento de realizar push comenten nuevamente las conexiones (TODAS!!!!!!!!!) para evitar conflictos-->
<!--Conexion de Jorge-->

<!--Conexion de Bryan-->
  <!--
 <connectionStrings>
  <add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5AUMN5R\SQLEXPRESS;initial catalog=CATAFEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  
  -->
<!--Conexion de Julian
  
<connectionStrings>
  <add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GM6LMLJM\SQLEXPRESS;initial catalog=CATAFEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->
<!--Conexion de Ivonne
<connectionStrings>
  <add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORGE\SQLEXPRESS;initial catalog=CATAFEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->
<!--Conexion de Jhonathan
<connectionStrings>
  <add name="CatafexEntities" connectionString="metadata=res://*/Entity.CatafexModel.csdl|res://*/Entity.CatafexModel.ssdl|res://*/Entity.CatafexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORGE\SQLEXPRESS;initial catalog=CATAFEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->
</configuration>


